body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: #f0f0f0;
	overflow-y: auto;
	overflow-x: hidden;
}

#entryContainer {
	position: relative;
	background-image: url('./assets/entry.png');
	background-size: cover;
	background-position: center;
	height: 115vh;
}

#howToContainer img {
	width: 100%;
	object-fit: contain;
}

#getStartedButton {
	cursor: pointer;
	animation: bounce 2s infinite;
	width: 120px;
	position: absolute;
	left: 50%;
	bottom: 16px;
	transform: translateX(-50%);
}

#getStartedButton svg {
	height: 32px;
}
/* add a bouncing button animation using keyframes */
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}

#entryImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#drawingContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#exportContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	padding: 32px;
}

#exportContainer button {
	border: 1px solid grey;
	padding: 24px 48px;
	background: #fff;
	border-radius: 8px;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	color: transparent; /* Removes the fill */
	-webkit-text-stroke: 1px black; /* Outline effect */
}

#exportContainer button:hover {
	background: #f0f0f0;
}

#paletteContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	height: 100vh;
	position: relative;
	background-image: url('./assets/page_choosepalette.png');
	background-size: cover;
	background-position: center;
}

#paletteContainer img {
	width: 400px;
	cursor: pointer;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
	margin-top: 72px;
}

#paletteContainer img:nth-child(1) {
	transform: rotate(-6deg) translateX(150px);
}

#paletteContainer img:nth-child(2) {
	transform: rotate(6deg);
}

#paletteContainer img:nth-child(3) {
	transform: rotate(-6deg) translateX(-150px);
}

#paletteContainer img:nth-child(1):hover {
	transform: rotate(-6deg) translateX(150px) scale(1.2);
}

#paletteContainer img:nth-child(2):hover {
	transform: rotate(6deg) scale(1.2);
}

#paletteContainer img:nth-child(3):hover {
	transform: rotate(-6deg) translateX(-150px) scale(1.2);
}

#paletteContainer img:nth-child(1).selected {
	transform: rotate(-6deg) translateX(150px) scale(1.2);
	z-index: 5;
}

#paletteContainer img:nth-child(2).selected {
	transform: rotate(6deg) scale(1.2);
	z-index: 5;
}

#paletteContainer img:nth-child(3).selected {
	transform: rotate(-6deg) translateX(-150px) scale(1.2);
	z-index: 5;
}

#beginDrawingButton {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	outline: none;
	color: #000000;
	display: flex;
	flex-direction: column;
	border: none;
	cursor: pointer;
	font-size: 24px;
	animation: bounce 2s infinite;
}

#beginDrawingButton svg {
	height: 32px;
}

#halfLogo {
	width: 100%;
	object-fit: contain;
}
